.u-section-1 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1039px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  margin: 2px auto 0;
  padding: 9px 72px 10px 71px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1039px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  width: 44px;
  height: 49px;
  font-size: 1.1667em;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 7px 30px 0;
}

.u-section-1 .u-form-1 {
  height: 937px;
  width: 795px;
  margin: 15px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
  margin-top: 70px;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-weight: 700;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-weight: 700;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-weight: 700;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.u-section-1 .u-group-1 {
  min-height: 43px;
  margin-top: -465px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
  width: 44px;
  height: 49px;
  font-size: 1.1667em;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 7px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    margin-top: 0;
    min-height: 857px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 857px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-1 {
    width: 645px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -52px;
    margin-right: -52px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 22px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}