.u-section-1 .u-sheet-1 {
  min-height: 631px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 580px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  margin: 0;
  padding: 9px 72px 10px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 580px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  width: 44px;
  height: 49px;
  font-size: 1.1667em;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-form-1 {
  height: 1243px;
  width: 795px;
  margin: 20px 0 -20px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    margin-top: 0;
    min-height: 478px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-1 .u-form-1 {
    width: 645px;
  }

  .u-section-1 .u-form-group-1 {
    height: 313px;
    margin: 66px 59px 0 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -52px;
    margin-right: -52px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 480px;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 320px;
  }
}